{% extends 'base.html' %}
{% block content %}
{% include 'plants/header.html' %}
<div>
    <a href="{% url 'plants:add_group' %}"
                            class="text-sm text-primary hover:text-primary/80 transition-colors">
                        Add Group
                    </a>
                    <a href="{% url 'plants:add_plant' %}"
                            class="text-sm text-primary hover:text-primary/80 transition-colors">
                        Add Plant
                    </a>
{% for group in groups %}
    <h3>{{ group.name }}</h3>
    
    {% for plant in plants %}
        {% if plant.group == group %}
            <div>
                <p>---{{ plant.name }}</p>
                <p>-----{{ plant.variety }}</p>
                {% if plant.image %}
                    <img src="{{ plant.image.url }}" alt="{{ plant.name }}">
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

{% endfor %}
</div>
{% endblock %}